<div class="p-2">
  <mat-card class="height-container">
    <mat-card-header>
      <mat-card-title>Conditions d’Utilisation</mat-card-title>
    </mat-card-header>
    <mat-divider class="my-2"></mat-divider>
    <mat-card-content class="my-2">
      <p>Bienvenue sur notre plateforme de billetterie pour les Jeux Olympiques. Merci de lire attentivement ces conditions avant de créer votre compte et d’acheter vos billets.</p>

      <h2>1. Acceptation des Conditions</h2>
      <p>En créant un compte ou en achetant un billet, vous acceptez pleinement ces Conditions d’Utilisation. Si vous n’êtes pas d’accord, n’utilisez pas ce service.</p>

      <h2>2. Création de Compte Utilisateur</h2>
      <ul>
        <li>Vous devez fournir des informations exactes et complètes (nom, prénom et adresse email).</li>
        <li>Vous êtes responsable de la confidentialité de votre mot de passe.</li>
        <li>Vous vous engagez à notifier immédiatement tout accès non autorisé à votre compte.</li>
      </ul>

      <h2>3. Achat de Billets</h2>
      <ul>
        <li>Les billets sont nominatifs et non transférables.</li>
        <li>Le paiement s’effectue en ligne par carte bancaire.</li>
        <li>Une fois la transaction validée, vos billets vous seront envoyés par email.</li>
      </ul>

      <h2>4. Tarifs et Paiement</h2>
      <p>Tous les prix affichés sont toutes taxes comprises. Vous réglerez le montant total au moment de la commande.</p>

      <h2>5. Annulation et Remboursement</h2>
      <p>Sauf cas de force majeure, les billets ne sont ni échangeables ni remboursables. Pour toute question, contactez-nous à&nbsp;: <a href="mailto:support@example.com">support&#64;example.com</a>.</p>

      <h2>6. Utilisation du Site</h2>
      <p>Vous vous engagez à ne pas perturber le fonctionnement du site ni à tenter d’accéder à des zones restreintes.</p>

      <h2>7. Propriété Intellectuelle</h2>
      <p>Tous les contenus (textes, images, logos) sont protégés par le droit d’auteur. Toute reproduction sans autorisation est interdite.</p>

      <h2>8. Limitation de Responsabilité</h2>
      <p>Nous ne pouvons être tenus responsables des problèmes techniques indépendants de notre volonté (panne serveur, coupure internet, etc.).</p>

      <h2>9. Modification des Conditions</h2>
      <p>Nous nous réservons le droit de modifier ces Conditions à tout moment. Les nouvelles conditions seront publiées sur cette page.</p>

      <h2>10. Contact</h2>
      <p>Pour toute question relative à ces Conditions d’Utilisation, écrivez-nous : <a href="mailto:support@example.com">support&#64;example.com</a>.</p>
    </mat-card-content>
  </mat-card>
</div>
